/* styles.css */

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
    color: white;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

.wallpaper {
    background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.9)), url(https://i.ytimg.com/vi/pl-QBuRoANU/maxresdefault_live.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

pre {
    color: #fff;
    overflow: hidden;
    border: none;
    font-size: 12px;
    text-align: center;
}

.center-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box-contain {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1000px;
    margin-top: 20px;
}

.box-brrr {
    width: calc(50% - 10px);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    margin: 5px;
    text-align: center;
}

.pfp {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin: 10px 0;
    transition: transform 0.3s ease;
}

.pfp:hover {
    transform: scale(1.05);
}

.text {
    margin-top: 30px;
    color: #dddddd;
    text-align: center;
    font-size: 14px;
}

.socials {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.social-icon {
    margin: 0 10px;
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.2);
}

.social-title {
    font-size: 12px;
    margin: 10px 0;
}

.fade-in-image {
    animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@media (max-width: 600px) {
    .box-contain {
        flex-direction: column;
        align-items: center;
    }
    .box-brrr {
        width: 90%;
        max-width: 400px;
    }
    pre {
        font-size: 14px;
    }
    .text {
        font-size: 10px;
    }
}
